.reg-page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 200px;
  justify-content: center;

  .reg-title {
    text-align: center;
  }

  .reg-form-wrapper {
    width: 500px;

    .form-row {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}
